.git
.gitignore
.idea
.vscode
*.iml
*.class
*.log

target/
build/
out/

.gradle/
mvnw*
!mvnw
!mvnw.cmd
**/node_modules

Dockerfile
.dockerignore
README.md
LICENSE
.env
.env.*
*.sh
*.bat

src/test/
**/test/
**/docs/
**/examples/

.DS_Store
Thumbs.db