app:
  version:1.2-M8

spring:
  application:
    name: discodeit
  servlet:
    multipart:
      maxFileSize: 10MB # 파일 하나의 최대 크기
      maxRequestSize: 30MB  # 한 번에 최대 업로드 가능 용량

discodeit:
  storage:
    type: ${STORAGE_TYPE:local}
    local:
      root-path: ${STORAGE_LOCAL_ROOT_PATH:.discodeit/storage}

logging:
  level:
    org.hibernate.SQL: DEBUG            # 실행되는 SQL 로그
    org.hibernate.type.descriptor.sql: TRACE  # SQL에 바인딩되는 파라미터 값 출력

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,loggers"
  endpoint:
    health:
      show-details: always

cloud:
  aws:
    credentials:
      access-key: ${SPRING_CLOUD_AWS_CREDENTIALS_ACCESS_KEY}
      secret-key: ${SPRING_CLOUD_AWS_CREDENTIALS_SECRET_KEY}
    region:
      # 환경 변수가 없다면 ap-northeast-2를 기본값으로 사용
      static: ${SPRING_CLOUD_AWS_REGION_STATIC:ap-northeast-2}
    s3:
      presigned-url-expiration: ${AWS_S3_PRESIGNED_URL_EXPIRATION:10}
      bucket: ${CLOUD_AWS_S3_BUCKET:discodeit-binary-content-storage-pjg}
